<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if page.title %}
  <title>Ashwin kumar: {{ page.title }}</title>
  {% else %}
  <title>Ashwin kumar</title>
  {% endif %}

  {% if page.description %}
  <meta name="description" content="{{ page.description }}" />
  {% else %}
  <meta name="description" content="{{ site.description }}" />
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css" rel="stylesheet">

  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/style.css">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{site.google-analytics}}', 'ashwinkumar.me');
  ga('send', 'pageview');

  </script>

</head>
<body>

  <!-- Start Hero Section -->
  <section class="hero">
    <div class="hero__inner text-center">
      <img src="img/ashwin.jpeg" class="hero__photo" alt="Ashwin Kumar">
      <h2 class="hero__title">Hi, I'm Ashwin Kumar.</h2>
      <p class="hero__intro">Front-end JavaScript Web Developer &amp; Web Enthusiast.</p>
    </div>
    <a href="#content" class="to-bottom"><i class="fa fa-angle-down"></i></a>
  </section>
  <!-- End Hero Section -->

  <section class="section" id="content">
    <div class="row">
      <div class="large-12 columns text-center">
        <p class="intro">A passionate developer who loves everything about the web.</p>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <!-- Start Skills Section -->
  <section class="section">
    <div class="row">

      <div class="large-4 columns">
        <h3>Skills</h3>
        <ul class="list no-bullets">
          <li>Javascript (OOJS)</li>
          <li>HTML - CSS</li>
          <li>Reusable and clean code</li>
          <li>Backbone.js</li>
          <li>jQuery</li>
          <li>Loves Ajax</li>
          <li>C/C++</li>
          <li>SQLite databases</li>
          <li>MySQL servers</li>
        </ul>
      </div>

      <div class="large-4 columns">
        <h3>Tools I use</h3>
        <ul class="list no-bullets">
          <li>Windows, Linux ♥ </li>
          <li>SublimeText / Vim</li>
          <li>Firebug / Devtools</li>
          <li>Git / Github</li>
          <li>Trello</li>
          <li>Product Hunt</li>
        </ul>
      </div>

      <div class="large-4 columns">
        <h3>Interests</h3>
        <ul class="list no-bullets">
          <li>WWW</li>
          <li>Programming</li>
          <li>Open Source</li>
          <li>Reading</li>
          <li>Listening to podcasts</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- End Skills Section -->

  <!-- Start Experience Section -->
  <section class="section">
    <div class="row">
      <div class="large-12 columns">
        <h3>Work Experience</h3>
      </div>

      <div class="large-12 columns">
        <p>
          <strong>Full Stack Developer of MONyog</strong> - <a href="https://www.webyog.com/product/monyog" target="_blank">Webyog</a>.<br>
          <i><small>November 2010 - to date</small></i>
        </p>
        <p>Responsible for making MONyog an awesome monitoring tool for MySQL servers.</p>
      </div>

    </div>
  </section>
  <!-- End Experience Section -->

  <!-- Start Education Section -->
  <section class="section">
    <div class="row">
      <div class="large-12 columns">
        <h3>Education</h3>
      </div>

      <div class="large-8 columns">
        <p>
          Bachelor of Engineering: Information science and Engineering (Visvesvaraya Technological University). <i><small>2006 - 2010</small></i>
        </p>
      </div>

      <div class="large-4 columns">
        <p>+ A Lifelong learner</p>
      </div>
    </div>
  </section>
  <!-- End Education Section -->

  <!-- Start Projects Section -->
  <section class="section">
    <div class="row">
      <header class="large-12 columns">
        <h2>Personal Projects</h2>
      </header>

      <div class="large-12 columns">
        <p><a href="http://phnest.in" target="_blank" title="Visit phnest.in">PH Nest</a></p>
        <p>A weekend project I created to collect and archive hunts from <a href="http://producthunt.com/" target="_blank">ProductHunt.com</a>.</p>
        <p>Proud? Certainly, Yes. This idea just striked my mind while scrolling ProductHunt.com and cracked it in a night with a jug of coffee. </p>
      </div>

    </div>

  </section>
  <!-- End Projects Section -->

  <!-- Start Passion Section -->
  <section class="section">
    <div class="row">
      <div class="large-12 columns text-center">
        <p class="intro"> I love new work and enjoy learning all the time. I consider myself extremely fortunate to be able to work on things I love...</p>
      </div>
    </div>
  </section>
  <!-- End Passion Section -->

  <!-- Start Social Section -->
  <footer class="site-footer section">
    <div class="row">

      <div class="large-4 columns text-center">
        <p>
          <i class="fa fa-map-marker"></i>
          <small>Bengaluru/Bangalore - India</small>
        </p>
      </div>

      <div class="large-4 columns text-center">
        <p>
          <i class="fa fa-envelope-o"></i>
          <a href="mailto:ashwinkumark10@gmail.com"><small>ashwinkumark10@gmail.com</small></a>
        </p>
      </div>

      <div class="large-4 columns text-center">
        <p>
          <i class="fa fa-mobile"></i>
          <small><i>+91 9740 547 793</i></small>
        </p>
      </div>

      <div class="large-12 columns">
        <div class="row">
          <nav class="social-links clearfix">

            <ul class="no-bullets">

              <li class="large-2 small-6 columns text-center">
                <a target="_blank" class="social-link social-link-stackoverflow" title="Stackoverflow" href="http://stackoverflow.com/users/815812/ashwin-kumar">
                  <i class="fa fa-stack-overflow"></i>
                </a>
              </li>

              <li class="large-2 small-6 columns text-center">
                <a target="_blank" class="social-link social-link-github" title="Github" href="https://github.com/ashking">
                  <i class="fa fa-github"></i>
                </a>
              </li>

              <li class="large-2 small-6 columns text-center">
                <a target="_blank" class="social-link social-link-linkedin" title="Linkedin" href="http://in.linkedin.com/in/ashwinkumark">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>

              <li class="large-2 small-6 columns text-center">
                <a target="_blank" class="social-link social-link-twitter" title="Twitter" href="https://twitter.com/ashwinkumar_k">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>

              <li class="large-2 small-6 columns text-center">
                <a target="_blank" class="social-link social-link-facebook" title="Facebook" href="https://www.facebook.com/ashwinkumark10">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>

              <li class="large-2 small-6 columns text-center">
                <a target="_blank" class="social-link social-links-goodreads" title="Google+" href="https://plus.google.com/+AshwinKumark10/about">
                  g
                </a>
              </li>

            </ul>

          </nav>
        </div>
      </div>

    </div>
  </footer>
  <!-- End Social Section -->

</body>
</html>
